extends layout

block content
    .section-header
        h2.section-heading.animated(data-animation='bounceInUp') CONCEPT1
    ul.rig.columns-3
        li.image
            img(src='images/portfolio/concept_image_9.jpg')
            h3 Augusta St
            p
              i September 6, 2013
        li.image
            img(src='images/portfolio/concept_image_6.jpg')
            h3 The Tudor
            p
              i September 6, 2013
        li.image
            img(src='images/portfolio/concept_image_2.jpg')
            h3 Day in the Park
            p
              i Unknown
        li.image
            img(src='images/portfolio/concept_image_3.jpg')
            h3 Eve-01
            p
              i September 5th, 2013
        li.image
            img(src='images/portfolio/concept_image_5.jpg')
            h3 Lighthouse designs
            p
              i June 1, 2016
        li.image
            img(src='images/portfolio/concept_image_7.jpg')
            h3 Kensington
            p
              i September 3, 2013
        li.image
            img(src='images/portfolio/concept_image_1.jpg')
            h3 Courtyard Views
            p
              i September 5th, 2013
        li.image
            img(src='images/portfolio/concept_image_8.jpg')
            h3 Fiddler in the park
            p
              i Augusta St Park
            p
              i September 5th, 2013
        li.image
            img(src='images/portfolio/concept_image_4.jpg')
            h3 Image Title
            p
              i September 5th, 2013
