extends layout

block content
          .section-header
            h2.section-heading.animated(data-animation='bounceInUp') H O M E
          ul.rig.columns-3
            li
              img(src='images/portfolio/img4.jpg')
              h3 Image Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            li
              img(src='images/portfolio/img8.jpg')
              h3 Image Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            li
              img(src='images/portfolio/img1.jpg')
              h3 Image Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            li
              img(src='images/portfolio/img5.jpg')
              h3 Image Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            li
              img(src='images/portfolio/img6.jpg')
              h3 Image Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
            li
              img(src='images/portfolio/img8.jpg')
              h3 Image Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
