@import url(//fonts.googleapis.com/css?family=Lato:400,300,700,900);
body, h5 {
  font-size: 16px
}
* {
  padding: 0;
  margin: 0;
}
body {
  font: 16px/1 sans-serif;
  font-weight: 300;
  color: #0099CC;
  background: #ffffff;
  text-shadow: none;
  margin: 0px 20px 0px 20px;
}

ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: 14px;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

/*Menu Header Styles*/

.menu-item h4 {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  padding: 20px;
  background: #ffffff;
  margin: 0px;
}
.menu-item h4 a {
  color: #0099CC;
  text-decoration: none;
  width: 200px;
}

/*First Item Styles*/

.alpha p {
  font-size: 17px;
  padding: 10px;
  color: #000;
}

/*ul Styles*/

.menu-item ul {
  background: #fff;
  font-size: 20px;
  line-height: 40px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
.menu-item ul a {
  margin: 0 auto;
  text-decoration: none;
  padding: 20px;
  color: #000;
  display: block;
  width: 200px;
  font-size: 18px;
}

/*li Styles*/
.menu-item li:hover {
  background: #fff;
}

/*ul Styles*/

.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  /*Collapses the menu*/
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  /*Animation*/
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 1s ease;
}
.menu-item:hover ul {
  height: 200px;
}
.page-container {
  margin-top: 125px;
  width: 90vw;
}
ul {
  list-style-type: none;
}
.page-header {
  color:  #66CCFF;
  font-size: 60px;
  white-space: nowrap;
  border-bottom: none !important;
}
.navbar, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}
.clear {
  clear: both
}
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Lato, sans-serif
}
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-style: normal;
  margin: 0 0 20px
}
h1 {
  font-size: 40px;
  line-height: 30px
}
h2 {
  font-size: 32px;
  color: #000000;
}
h3 {
  font-size: 24px;
  color: #000000;
}
h4 {
  font-size: 18px
}
a:hover {
  text-decoration: none
}
:focus {
  outline: 0
}
.row {
  z-index: 9999
}
.nav>li>a, .section-header h2.section-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 70px;
  color: #87CEFA;
  white-space: nowrap;
}
.container, .content {
  overflow: hidden
}
.align-center, .logo-container, .logo-text-container, .navbar, .section-header {
  text-align: center
}
nav#filter a {
  background-color: #FFF;
  color: #555;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none
}
nav#filter a.current, nav#filter a:hover {
  background-color: #000000;
  color: #fff
}
.section-projects p, h5 {
  vertical-align: center
}
.section-projects .container {
  height: 1300px;
  width: 1300px !important;
}
.isotopeWrapper article {
  margin-bottom: 30px
}
#portfolio img {
  width: 100%
}
#portfolio article p {
  margin-bottom: 1.45em
}
nav#filter {
  margin-bottom: 1.5em
}
nav#filter li {
  display: inline-block;
  margin: 0 0 0 5px
}
.portfolio-image {
  height: 100%;
}
.portfolio-items article img {
  width: 100%
}
.portfolio-item {
  display: block;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
.portfolio-item img {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear
}
.portfolio-item .portfolio-desc {
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: rgba(220, 220, 220, 0)
}
.portfolio-item:hover .portfolio-desc {
  padding-top: 20%;
  height: 100%;
  transition: all 200ms ease-in-out 0s;
  opacity: 1
}
.portfolio-item .portfolio-desc a {
  color: #fff
}
.portfolio-item .portfolio-desc a:hover {
  text-decoration: none
}
.portfolio-item .portfolio-desc .folio-info {
  height: 0;
  opacity: 0;
  position: relative;
  vertical-align: middle
}
.portfolio-item:hover .folio-info {
  height: 100%;
  opacity: 1;
  transition: all 500ms ease-in-out 0s;
  top: 5px
}
.portfolio-item .portfolio-desc .folio-info h5 {
  text-transform: uppercase
}
.portfolio-item .portfolio-desc .folio-info p {
  color: #fff;
  font-size: 12px
}
.cl-effect-1 a::after, .cl-effect-1 a::before {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform .3s, opacity .2s;
  -moz-transition: -moz-transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s
}
.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px)
}
.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px)
}
.cl-effect-1 a:focus::after, .cl-effect-1 a:focus::before, .cl-effect-1 a:hover::after, .cl-effect-1 a:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  text-decoration: none
}
.social-circle li a, .social-circle li i, a.scrollup, section#footer .copyright {
  text-align: center
}
textarea.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0
}
ul.footer-menu, ul.social-network {
  display: inline;
  list-style: none;
  padding: 0
}
.social-network a.icoDropbox:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoGithub:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoRss:hover i, a.scrollup {
  color: #fff
}
#map {
  height: 500px
}
#clients img {
  opacity: .7
}
#clients img:hover {
  opacity: 1
}
section#footer {
  background: #242424;
  margin-top: 100px;
}
ul.social-network {
  margin-left: 0!important
}
ul.social-network li {
  display: inline;
  margin: 0 5px
}
ul.footer-menu {
  margin-left: 0!important
}
ul.footer-menu li {
  display: inline;
  margin: 0 5px
}
a.scrollup {
  height: 32px;
  width: 32px;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  opacity: .5
}
a.scrollup:hover {
  opacity: 1;
  color: #fff
}
.social-network a.icoRss:hover {
  background-color: #F56505
}
.social-network a.icoFacebook:hover {
  background-color: #3B5998
}
.social-network a.icoDropbox:hover {
  background-color: #3cf
}
.social-network a.icoGoogle:hover {
  background-color: #BD3518
}
.social-network a.icoGithub:hover {
  background-color: #0590B8
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7
}
a.socialIcon:hover {
  color: #44BCDD
}
.btn-cta:hover {
  color: #fff
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px
}
.social-circle li i {
  margin: 0;
  line-height: 50px
}
.social-circle li a:hover i {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s
}
.social-circle i {
  color: #fff;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  -ms-transition: all .8s;
  transition: all .8s
}
.btn {
  border: 0
}
@media (min-width:959px) and (max-width:1199px) {
  .navbar-nav {
    margin-top: 20px
  }
}
@media only screen and (min-device-width:979px) and (max-device-width:1024px) {
  .navbar-nav {
    margin-top: 20px
  }
}
@media only screen and (min-width:768px) and (max-width:959px) {
  .navbar-nav {
    margin-top: 20px
  }
}
@media (max-width:767px) {
  .navbar.navbar-fixed-top {
    background-color: rgba(0, 0, 0, 1)
  }
  .navbar .navbar-collapse ul.nav {
    background-color: #444;
    width: 100%;
    float: none;
    margin: 0;
    padding: 0
  }
  .navbar .navbar-collapse ul.nav li {
    border-bottom: 1px solid #666
  }
  section.featured {
    padding-top: 80px
  }
}

@media (max-width:980px) {
    .page-header-padding {
        text-align:center;
    }
    .menu-item {
        height: auto;
    }
    .section-heading {
        margin-top: 50px;
    }
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width 1.5s ease, background-color 1.5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #1aa3a3;
}

.image img {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.image:hover img {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}
